.navbar-brand img {
  width: auto;
  height: 100%; }

.home-container {
  margin-top: 0;
  background-image: url("https://images.pexels.com/photos/78791/railway-bernina-railway-lagalb-bernina-78791.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: 100% 100vh;
  background-attachment: fixed; }

.page-container {
  margin-top: 75px; }

.home-last-article {
  -webkit-box-shadow: 0px -6px 3px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px -6px 3px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0px -6px 3px 2px rgba(50, 50, 50, 0.3);
  padding-top: 2px;
  background-color: white; }
  .home-last-article h1 {
    text-align: center; }

.home-spitch {
  height: 100vh; }
  .home-spitch p {
    text-align: center;
    vertical-align: middle; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.item {
  cursor: pointer;
  padding: 3px;
  width: calc(33% - 2rem);
  min-width: 325px;
  margin-bottom: 2rem;
  -moz-box-shadow: 1px 1px 1px 2px #656565;
  -webkit-box-shadow: 1px 1px 1px 2px #656565;
  -o-box-shadow: 1px 1px 1px 2px #656565;
  box-shadow: 1px 1px 1px 2px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=1);
  text-align: center;
  background-color: white; }
  .item:hover {
    background-color: whitesmoke;
    -moz-box-shadow: 2px 2px 2px 2px #656565;
    -webkit-box-shadow: 2px 2px 2px 2px #656565;
    -o-box-shadow: 2px 2px 2px 2px #656565;
    box-shadow: 2px 2px 2px 2px #656565; }
  .item .img-item {
    width: 100%;
    height: 250px; }
  .item .title-item {
    color: darkslategray;
    font-weight: bold; }
  .item .text-item {
    color: black; }
  .item a {
    text-decoration: none !important; }
