.navbar-brand img {
    width: auto;
    height: 100%;
}

.home-container {
    margin-top: 0;
    background-image: url('');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.home-last-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #656565;
}
.glyphicon.glyphicon-chevron-down {
    font-size: 60px;
}

.page-container {
    margin-top: 75px;
}

.article-view-container {
    background-color: whitesmoke;
    padding: 35px 20px 60px 20px;
    width: 70%;
    min-width: 325px;
    margin:auto;
}

.article-view-banner {
    height: 100px;
    background-size: 100% 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    .overlay {
        background-color: #111;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        h3 {
            position: relative;
            top: 35%;
            font-weight: bold;
        }
    }
}

.home-last-article {
    -webkit-box-shadow: 0px -6px 3px 2px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px -6px 3px 2px rgba(50, 50, 50, 0.3);
    box-shadow:         0px -6px 3px 2px rgba(50, 50, 50, 0.3);
    padding-top: 2px;
    background-color: rgb(251, 251, 251);
    h1 {
        text-align: center;
    }
}

.home-img {
    height: 100vh;

    .home-spitch {
        cursor: pointer;
        background-color: #111;
        opacity: 0.7;
        border-radius: 15px;
        color: #fff;
        padding: 5px;
        font-size: 25px;
        letter-spacing: 7px;
        position: relative;
        width: 50%;
        top: 40%;
        margin: auto;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    cursor: pointer;
    padding: 3px;
    width: calc(33% - 2rem);
    min-width: 325px;
    margin-bottom: 2rem;
    -moz-box-shadow: 1px 1px 1px 2px #656565;
    -webkit-box-shadow: 1px 1px 1px 2px #656565;
    -o-box-shadow: 1px 1px 1px 2px #656565;
    box-shadow: 1px 1px 1px 2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=1);
    text-align: center;
    background-color: white;

    &:hover {
        background-color: whitesmoke;
        -moz-box-shadow: 2px 2px 2px 2px #656565;
        -webkit-box-shadow: 2px 2px 2px 2px #656565;
        -o-box-shadow: 2px 2px 2px 2px #656565;
        box-shadow: 2px 2px 2px 2px #656565;
    }

    .img-item {
        width: 100%;
        height: 240px;
        border: 1px solid #111;
    }
    
    .infos-item {
        font-style: italic;
        margin-bottom: 10px;
        .cat-item {
            color: green;
            font-weight: bold;
        }
        .date-item {
            color: rgb(143, 143, 143);
        }
    }

    .title-item {
        color: darkslategray;
        font-weight: bold;
    }
    .text-item {
        color: black;
    }
    a {
        text-decoration: none !important;
    }
}
