html {
    margin: 0 !important;
    padding: 0 !important;
    body {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.home-container {

}

.navigation {
    background-color: darkgray;
    border-bottom: 1px solid black;
    a {
        color: darkred;
    }
}